<div class="row">
    <hr>
    <div class="col-12 col-md-5 offset-md-3">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" ngModel name="email" required email>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" ngModel name="password" required minlength="6">
            </div>
            <hr>
            <div class="text-white">
                <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign UP' }}</button> |
                <button class="btn btn-primary" (click)="onSwitchMode()" type="button">Switch to {{ isLoginMode ? 'Sign Up' : 'Login'}}</button>
            </div>
        </form>
        <hr>
        <div *ngIf="isLoading">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <div *ngIf="error" class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
        <div *ngIf="signUpSuccessfully" class="alert alert-success">
            <p>You have Registered Successfully</p>
        </div>
    </div>
</div>