<div class="contain" *ngIf="movieDetailsArray">
    <div class="row p-5">
        <div class="col-lg-3" *ngIf="movieDetailsArray.posterPath">
                <img src="https://image.tmdb.org/t/p/original/{{ movieDetailsArray.posterPath }}">
        </div>
        <div class="col-lg-9 mt-5 p-4">
            <h1 class="mt-2 mb-2">{{movieDetailsArray.originalTitle}}</h1>
            <h5 class="mt-3 mb-3 text-white">Rating: &#11088; {{ movieDetailsArray.voteAverage | number: '1.0-2'}}</h5>
            <p class="mt-3 mb-3">{{movieDetailsArray.overview}}</p>

            <div class="mt-4 p-4">
                <h2 class="text-white">Movie Cast</h2>
                <div class="row mt-4">
                    <div class="col-lg-6" *ngFor="let cast of movieCastArray">
                        <div class="row mt-2 mb-2">
                            <div class="col-lg-2" *ngIf="cast.profile_path">
                                <img src="https://image.tmdb.org/t/p/original/{{ cast.profile_path}}">
                            </div>
                            <div class="col-lg-10">
                                <h3 class="text-white">{{cast.original_name}}</h3>
                                <p class="text-white">{{cast.character}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>